* {
    margin: 0;
    padding: 0;
    font-family: 'Horizon', sans-serif;
    font-size: 1.1rem;
    white-space: nowrap;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;

    border-radius: 45px;
    height: 15px;
    width: 15px;
    background: #fff;
    border: 1px solid #ccc;
}
input[type="checkbox"]:checked {
    background: rgb(149, 74, 199);
    margin:0px;
    position: relative;
}

#main {
    width: 50%;
    margin: 3% auto;
    border-radius: 5px;
}
#info {
    display: flex;
    justify-content: center;
}
#info img {
    width: 35%;
    height: 35%;
}
h2 {
    font-size: 42px;
    text-align: center;
}

label {
    min-width: fit-content;
    align-self: center;
    margin-right: 2%;
}
input {
    text-align: right;
}
input, textarea {
    padding: 1%;
}
textarea {
    max-width: 100%;
    min-width: 40%;
}

.input-info {
    display: flex;
    margin: 4px 0;
}
.input-info input, .input-info textarea {
    width: 100%;
}
.twoinput, .fourinput {
    display: flex;
}
.twoinput {
    justify-content: space-between;
}
.twoinput>div{
    width: 50%;
}
#attributs {
    display: flex;
    flex-direction: column;
}

.foutinput>div{
    width: 25%;
}
#S-S-I {
    display: flex;
}
#stats {
    display: flex;
    flex-direction: column;
    width: 35%;
}
#stats>div {
    padding: 4%;
    border: 1px black solid;
    border-radius: 2px;
}
#stats>div:not(:last-child) {
    border-bottom: none;
}
.input-stats {
    display: flex;
    justify-content: space-between;
}
.input-stats input, .input-stats-max input{
    width: 10%;
}
.input-stats-max {
    display: flex;
    justify-content: flex-end;
}
#skill-inventory {
    width: 65%;
    border: 1px solid black;
    border-left: none;
}
#skill-inventory>div {
    display: flex;
    flex-direction: column;
}
#skill-inventory>div>div {
    display: flex;
}
#skill, #weap-inv {
    width: 50%;
    padding: 1%;
    border-radius: 2px;
}
#skill {
    border: 1px solid black;
    border-left: none;
    border-top: none;
}
#skill>div {
    padding-top: 1%;
}
#skill>div>p:first-child {
    margin-right: 2%;
    text-align: end;
}
#skill p , #weap-inv p{
    font-size: 0.85rem;
}
#weap-inv {
    border-bottom: 1px solid black;
}
#skill>div{
    display: flex;
    align-items: center;
    width: fit-content;
}
#skill>div>p:first-child {
    width: 56%;
}
#skill>div>p:not(:first-child) {
    width: 14%;
}
#skill>div>p>input, #weap-inv>div>p>input {
    width: 100%;
}
#skill div:first-child {
    width: 100%;
}

#weapon>div {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#weapon>div>p {
    max-width: 50%;
}
#weapon>div>p>input, #inventory>p>input, #qualitee-defauts>p>input {
    width: 98%!important;
}

.input-bar {
    display: flex;
    justify-content: space-between;
}
.input-bar div:last-child {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.input-bar>div:last-child>input{
    scale: 1.6;
}

#other>div, #qualitee-defauts>div {
    width: 50%;
}
#other {
    border-bottom: 1px solid black;
}
#other>div>div {
    padding: 1%;
}
#other>div:first-child {
    border-right: 1px solid black;
}
#qualitee-defauts {
    display: flex;
    text-align: center;
}
#qualitee-defauts>div>p>input {
    width: 96%;
}

#xp {
    flex-direction: row!important;
    justify-content: space-between;
    padding: 1%;
}
#xp>input {
    width: 47.5%;
}